/* Ensure xterm.js textarea is accessible and properly positioned */
.xterm {
  height: 100%;
  width: 100%;
  position: relative;
}

.xterm .xterm-screen {
  position: relative;
}

.xterm .xterm-helper-textarea {
  position: absolute !important;
  opacity: 0 !important;
  left: 0 !important;
  top: 0 !important;
  width: 0 !important;
  height: 0 !important;
  z-index: -10 !important;
  pointer-events: none !important;
  /* Don't hide it completely - xterm needs it to capture input */
  visibility: visible !important;
}
